*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    background: linear-gradient(to bottom left, #191D6C 0%, rgb(208, 14, 182) 49.48%, rgba(0, 224, 255, 0.47) 99.98%, rgba(236, 238, 15, 0.49) 99.99%, rgba(255, 0, 229, 0.00) 100%);
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
}
#load{
    background: black url(load.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.ng{
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    font-family: 'Rubik Puddles', cursive;
}
.ng:hover{
    color: #ffffff;
    transition: 0.5s;
}
.navbar a{
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
    position: relative;
    display: inline-flex;
    margin: 10px 20px;
}
.navbar a:hover{
    color: #000000;
    transition: 0.3s;
}
.cv {
    font-weight: 500;
    border-radius: 105px;
    padding: 9px 10px;
    border: 2px solid #000000;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
}
.cv:hover{
    border: 2px solid white;
    transition: 0.5s;
}
.content{
    padding: 18em 0em 0em 2em;
}
.cont1{
    font-family: 'Pixelify Sans', cursive;
    font-size: 50px ;
    color: #000000;
    font-weight: 700;
}
.cont2{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin-top: -5px;
    color: #000000;
    font-weight: 700;
}
.btn{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 6px rgb(0 0 0 / 44%);
    margin: 10px 5px;
    padding: 5px 10px;
}
.btn:hover{
    color: #000000;
    background-color: #ffffff;
    transition: 0.5s;
}
.contact{
    padding: 15em 40em 0em 0em;
    
}
.border{
    border: 3px linear-gradient(to bottom left, #191D6C 0%, rgb(208, 14, 182) 49.48%, rgba(0, 224, 255, 0.47) 99.98%, rgba(236, 238, 15, 0.49) 99.99%, rgba(255, 0, 229, 0.00) 100%);
    box-shadow: 10px 10px 20px 1px rgb(0 0 0 / 80%);
    margin-left: 5em;
    border-radius: 12px;
}
.head{ 
    font-size: 25px;
    font-family: 'Croissant One', cursive;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10em;
}
.detail{
    font-size: 20px;
    padding: 10px 0em 1em 10px;
    font-family: cursive;
    font-weight: 700;
    margin-left: 1em;
}
.ct{
    font-size: 30px;
    color: #000000;
    border: 1px solid black; 
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    border-radius: 10px;
    display: inline-flex;
    box-shadow: 10px 10px 20px 1px rgb(0 0 0 / 80%);
    margin-bottom: 20px;
    margin-left: 11em;
    padding: .3em;
}
.ct:hover{
    border: 1px none;
}
.img{
    margin-left: 65%;
    margin-top: 13em;
    position: absolute;
}
.story{
    margin: 10em 25px;
    text-align: center;
    font-size: 30px;
}
.AI{
    padding-left: 72em;
    padding-top: 18em;
}
